<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1">

    <title>Forkk's Blog - $title$</title>

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700">
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

  <body>
    <header>
      <hgroup>
        <h1>$title$</h1>
      </hgroup>
    </header>

    <nav>
      <section id="nav-main">
        <h1>Blog Stuff</h1>
        <a href="/">Home</a>
        <a href="/archive.html">Post Archive</a>
      </section>

      <section id="nav-social">
        <h1>Social</h1>
        <a href="https://github.com/Forkk">GitHub</a>
        <a href="https://twitter.com/Forkk">Twitter</a>
      </section>

      <section id="nav-post-list">
        <h1>Recent Posts</h1>
        <a href="/">&lt;post list goes here&gt;</a>
      </section>
    </nav>

    <main>
      $body$
    </main>
    
    <footer>
      <p>Powered by <a href="http://jaspervdj.be/hakyll">Hakyll</a></p>
      <p>Copyright &copy; 2013-2015 Forkk</p>
      <p>Revision: <i>&lt;Git Revision Here&gt;</i></p>
    </footer>
  </body>
</html>
