<nav>
  <div id="nav-main">
    <h1>Blog Stuff</h1>
    <a href="/">Home</a>
    <a href="/archive.html">Post Archive</a>
    <a href="https://github.com/Forkk/forkk.net" title="Source code for this website">Source Code</a>
  </div>

  <div id="nav-social">
    <h1>Social</h1>
    <a href="https://github.com/Forkk">GitHub</a>
    <a href="https://twitter.com/Forkk13">Twitter</a>
  </div>

  <div id="nav-tag-list">
    <h1>Tags</h1>
    $tags-nav$
  </div>

  <div id="nav-post-list">
    <h1>Recent Posts</h1>
    $posts-nav$
  </div>

  <div id="nav-other">
    <h1>Other Stuff</h1>
    <a href="http://multimc.org">MultiMC</a>
  </div>
</nav>
