<nav>
  <section id="nav-main">
    <h1>Blog Stuff</h1>
    <a href="/">Home</a>
    <a href="/archive.html">Post Archive</a>
  </section>

  <section id="nav-social">
    <h1>Social</h1>
    <a href="https://github.com/Forkk">GitHub</a>
    <a href="https://twitter.com/Forkk">Twitter</a>
  </section>

  <section id="nav-tag-list">
    <h1>Tags</h1>
    $tags-nav$
  </section>

  <section id="nav-post-list">
    <h1>Recent Posts</h1>
    <a href="/">&lt;post list goes here&gt;</a>
  </section>
</nav>
